<%- include('../partials/header') %>
<div class="container mt-4" >
    <a class="btn btn-sm btn-primary mb-2" href="/index">Go Back</a>
    <div class="card" >
        <div class="card-body">
    <div class="thumbnail" >
        <div class="imgg">
            <img style="max-width: 720px;width: 100%; max-height: 480px;" src="../../<%=data.image%>" alt=""><br><br>
            <a class="btn btn-warning" href="/index/<%= data._id %>/edit">Edit</a>
            <form style="display: inline;" action="/index/<%= data._id %>?_method=DELETE" method="POST">
            <input type="hidden" name="image" value="<%=data.image%>">
            <button class="btn btn-danger" >Delete</button>
            </form>
            <h2 class="card-title mt-4 f"><%= data.name %></h2>
        </div>
      
        <p style="text-align: center;"><i>About the project</i></p>
             <p class="p"><%= data.description %></p>
             
         </div>
                
            </div>
             
    </div>
</div>


<%- include('../partials/footer') %>

<style>
    .imgg{
        text-align: center;
      
    }
    .f{
        font-family: Open Sans, sans-serif;
         color: #383838;
         font-size: 28px;
         font-weight: 400;
         line-height: 1.4em;
    }
    .p{
        -webkit-font-smoothing: antialiased;
text-align: left;
box-sizing: inherit;
font-family: Open Sans, sans-serif;
color: #5e5e5e;
font-size: 16px;
font-weight: 400;
margin: 0;
padding: 5px 0;
line-height: 1.8;
word-wrap: break-word;
    }
</style>

